body {
    margin: 0;
    padding:0;
    
}

/* Make everything use border-box */
*, *:before, *:after {
    /* chrome 9-, iOS, android */
    -webkit-box-sizing: border-box;
    /* Firefox 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE8+, Chrome 10+... */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D; /* Red */
    }
    section, article {
        width: 50%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF; /* Blue */
    }
}

nav, header, main, section, article  {
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 15px;
    text-align: center;
    align-items: center;
    height: 300px;
}

nav {
    background-color: #5995DA;
    height: 80px;
}

header {
    background-color: #B2D6FF;
}

main {
    background-color: #EAEDF0;
    height: 600px;
}

section {
    background-color: #D6E9FE;
    
}

/* Background colors */

.bg-yellow {
    background-color: #F5CF8E;
}

.bg-red {
    background-color: #F09A9D;
}

.bg-purple {
    background-color: #C8C6FA;
}